# Langchain
# TODO: revisar y evaluar si todas las dependencias son necesarias
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-mysql
langsmith
langchain-community
langchain-core
langchain-google-genai
notebook
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]

# FastAPI backend
fastapi
uvicorn
pydantic
langroid
google-generativeai
python-dotenv
httpx

# Database (Qdrant)
qdrant-client