# Langchain
# TODO: revisar y evaluar si todas las dependencias son necesarias
langchain-google-genai
langgraph-cli[inmem]
langchain

# FastAPI backend
fastapi
uvicorn
pydantic
pydantic-settings
langroid
google-generativeai
python-dotenv
httpx
asyncio
python-dotenv

# Database (Qdrant)
qdrant-client

# Database (MySQL)
sqlalchemy
pymysql